<h1>Add a new artist here:</h1>

<form action="/artists" method="post">

  <div class="form-group">
    <label for="name">Artist's name:</label>
    <input id="name" name="name" type="text" class="form-control">
  </div>

  <div>
    <button type="submit" class="btn btn-success">Add Artist</button>
    <a href="/" class="btn btn-primary">Home</a>
  </div>
</form>
